body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.promotion-details {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 20px;
    color: #000000;
}



.buy-button:hover {
    background-color: #e65300;
}

.product-image {
    text-align: center;
}

.product-image img {
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
